# Object files
*.o
# Shared libraries
*.so
# Vim swap files
*.swp

# Binary directory
bin/
# Object files directory
obj/

# dotenv file
**/.env

# test binary
test/test

# Eclipse project files
.cproject
.project
.settings/
